/* one column layout mobile first */
main, .desktop-items, .desktop-items-left, .desktop-items-right {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 1rem;   
}

.opened-window {
    width: 80vw;
}

main {
    .introduction {
        h1 {
            font-size: clamp(1.5rem, 10vw, 2rem); 
        }
        .avatar {
            border-radius: 50%; 
            width: 50vw;
            max-width: 230px;
        }   
    }

    .about-me {
        h2, .h2-block {
            font-size: clamp(1.5rem, 10vw, 2rem); 
        }
        p {
            span {
                display: block; 

                &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
                    margin-left: 1rem;
                }
            }
        }
    }

    .digital-garden {
        margin-bottom: 1rem;
    }
}

.desktop-items {
    .desktop-item {
        h3, > button {
            display: none; 
        } 
    }
}

